.section-padding {
	padding: 6em 2em;
}

.white-block {
	position: absolute;
	height: 40px;
	width: 60%;
	background-color: $white-color;
	bottom: 0;
	left: -50px;
	transform: skewX(45deg);
}

.underline {
	position: absolute;
	width: 100px;
	height: 4px;
	top: 130px;
	background-color: $dark-blue-color;
}
